.nave-container{
    display: flex;
    width: 100%;
    height: 91px;
    align-items: center;
    

}

.left{
    flex: 4;
    
}
.logo{
    color: #5BB5A2;
    font-size: 25px;
}

.center{
    flex: 4;

}
.center ul {
    display: flex;
    /* justify-content: space-around; */
    
    
}
.center ul li{
    text-decoration: none;
    display: flex;
    margin-right: 50px;
    cursor: pointer;
    
}

.right{
    flex: 4;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
   

    
}

h4{
    color: #5BB5A2;
}

button{
    width: 135px;
    height: 39px;
    border: none;
    background-color: #5BB5A2;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.4s;
    
}
button:hover {
    background-color:#E8F2EE;
    color: rgb(0, 0, 0);
  }

  .login{
      cursor: pointer;
  }