.app-container{
    width: 100%;
    height: 100vh;
    margin-top: 200px;
    display: flex;
}
.app-title{
    font-size: 4rem;
    margin: 0;
}

.app-left{
    flex: 6;

}

.app-right{
    flex: 6;
}
.grid{
    display: grid;
    grid-template-columns: repeat(2, 284px);
    grid-template-rows: repeat(2, 264px);
    gap: 20px;
    
}

.card-one{
    border: 1.5px solid rgb(196, 196, 196);
    padding: 10px;
    border-radius: 10px;
}

/* right */
.mobile-container{
    width: 380px;
    height: 800px;
    border: 10px solid black;
    border-radius: 50px;
    margin-left: 50px;
    padding: 35px;
}

.mobile-blance{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.card-containeres{
    height: 186px;
    width: 380px;
    background:linear-gradient(#485563, #29323C) ;
    border-radius: 15px;
    position: absolute;
    /* margin-left: 30px; */
    
}

.card-numberss{
    display: flex;
    font-size: 10px;
    justify-items: center;
    justify-content: space-between;
    padding: 0 40px;
    color: white;
}
.card-logos{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0 40px;
    color: white;
}
.expir-dates{
    margin-left: 10px;
}
h5{
    margin: -0.1px;
}

.money{
    margin-top: 210px;
    display: flex;
    justify-content: space-between;
}
.send-money{
    display: flex;
    align-items: center;
}
.money-title{
    margin-left: 10px;
}
.Transactions{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.view{
    display: flex;
    align-items: center;
    color: #5BB5A2;
}
.socal-icon{
    background-color: #DFEAF1;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.apple{
    display: flex;
    align-items: center;
    
}

.apple-logo{
    margin-right: 10px;
    width: 30px !important;
    height: 30px !important;
    background-color: #5BB5A2;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
.apple-tile{
    font-size: 16px;
}
.title-seeond{
    font-size: 12px;
}
.mobile-bootem{
    display: flex;   
    justify-content: space-around;
}

.home{
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    
}